
BODY { font-size: 100%; color: #64492D; font-family:  verdana, arial, helvetica, sans-serif } 

TD { font-size: 100%; color: #64492D; font-family:  verdana, arial, helvetica, sans-serif  }
TR { font-size: 100%; color: #64492D; font-family:  verdana, arial, helvetica, sans-serif  }

LI, UL { font-family:  verdana, arial, helvetica, sans-serif}
BIG { font-family: verdana, arial, helvetica, sans-serif; font-size=105%; font-weight: 800 }
SMALL {font-family: verdana, arial, helvetica, sans-serif; font-size=85% }
B { font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-size: 100%}
I, U { font-family:  verdana, arial, helvetica, sans-serif}

H1 { color: #000000; font-family:  arial, helvetica, sans-serif; 
font-weight: 700; font-size: 130%}
H2 { color: #000000; font-family:  arial, helvetica, sans-serif; 
font-weight: 700; font-size: 120%}
H3 { color: #000000; font-family:  arial, helvetica, sans-serif; 
font-weight: 700; font-size: 110%}
H5 { color: #000000; font-family:  arial, helvetica, sans-serif;
font-weight: 700; font-size: 75% }

.HeadingOne { color: #000000; font-family:  arial, helvetica, sans-serif; 
font-weight: 700; font-size: 120%}
.HeadingTwo { color: #000000; font-family:  arial, helvetica, sans-serif; 
font-weight: 700; font-size: 110%}
.Title { color: #264bae; font-family:  arial, helvetica, sans-serif; 
font-weight: 500; font-size: 110%}


A:link { color: #41693D; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; font-variant: normal; letter-spacing: .1em; text-decoration: underline; font-size: 95%}
A:active { color: #931406; text-decoration: none; font-weight: bold; font-size: 95%}
A:hover { color: #931406; text-decoration: underline; font-weight: bold; font-size: 95%}
A:visited { text-decoration: underline; font-weight: bold; font-style: normal; letter-spacing: .1em; color: #337030; font-size: 95%}


------------




LI { line-height: 1.5 }.mainheadline {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; letter-spacing: .2em; word-spacing: normal; white-space: nowrap; font-size: 120%}

.pageheading {  font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-style: normal; font-weight: bolder; letter-spacing: 2px}

.smallheadline1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 95%; font-style: normal; font-weight: bold; font-variant: normal; letter-spacing: 0.1em; color: #990000}

.nolink {  font-size: 98%; font-weight: normal}
.heading_one {  font-weight: bold; color: #A96538}
.quotes {  font-style: italic; color: #9D3E1E}
.smallheadline2 {  font-weight: bold; color: #33291E; font-size: 92%}
