<p align="center" style="font-size: .98em;">
	<a href="default.htm">Home</a> | <a href="calendar.htm">Calendar</a> | <a href="workshops.htm">Workshops</a> | <a href="music.htm"> Music</a>	|
	<a href="bio.htm"></a> <a href="writings.htm">Writings</a> |<a href="bio.htm">Bio</a> | <a href="contact.htm">Contact</a><br>
</p>

<div style="height:2px;background-color:#990000;"></div>

<p align="center"><span class="smallheadline1">Mama's Minstrel</span><br> Nancy Vedder-Shults, Ph.D.<br>
	<a href="mailto:nancy@mamasminstrel.net?Subject=Mama%27s%20Minstrel....">nancy@mamasminstrel.net</a>
</p>
<p align="center"><span class="heading_one">For Bookings</span><br>
	<br>Contact Kristen Townsend at <a href="mailto:nancyveddershults@gmail.com">nancyveddershults@gmail.com</a>
</p>
<p align="center">
	<br>
	<img src="images/oak_b-opt.jpg" width="235" height="194"><br>
</p>

<span class="nolink">