        <table class="navbar" align="center" width="99%" height="27px">
            <tr>
                <td class="navStart"></td>
                <td><a href="default.htm">Home</a></td>
                <td><a href="calendar.htm">Calendar</a></td>
                <td><a href="workshops.htm">Workshops</a></td>
                <td><a href="music.htm">Music</a></td>
                <td><a href="writings.htm">Writings</a></td>
                <td><a href="bio.htm">Bio</a></td>
                <td><a href="contact.htm">Contact</a></td>
                <td class="navEnd"></td>
            </tr>
        </table>
        <img src="images/mamas_minstrel_new_c_om-opt.jpg" width="100%" alt="Mama's Minstrel | Nancy Vedder-Shults, Ph.D."><br>